.welcome-card{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    position: relative;
}
.welcome-card>*{
    display: inline-flex;
}

.welcome-text{
    text-align: left;
    margin: auto;
    margin-top: 20px;
    width: 30%;
}

.submit-card{
    text-align: left;
    width: 78%;
    margin: auto;
    margin-left: 10%;
    margin-top: 20px;
}
.dashboard-tab{
    width: 100%;
    text-align: left;
    padding-left: 70px;
}
.empty-card{
    width: 100%;
}
.draft-card {
    text-align: left;
}
.access-code{
    width: 65%;
    padding-left: 2px;
    padding-right: 2px;
}
.dashboard-container{
    padding-bottom: 20px;
}