.container-login{
  margin: auto;
  margin-top: 10%;
    /* border: 1px solid#ccc;
    box-shadow: 1px 1px 3px -2px; */
    width: 40%;
    /* border-radius: 4px; */
    padding: 10px;
    text-align: left;
}
.inp{
    width: 80%;
    height: 20%;
    margin: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=submit] {
    width: 30%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin-left: 35%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
::-webkit-input-placeholder{
    border: none;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
}
.form-container{
    width: 100%;
}
input[type=text]:focus {
    /* transition: width 0.4s ease-in-out;
    outline: none; */
}
input[type=checkbox]{
    width: 10%;
}
input[type=radio]{
    width: 10%;
}
.checkbox-container{
    /* margin-left: 10px; */
}

.sign-in {
    text-align: center;
    font-size: x-large;
    color: #ff2058;
}

.submit {
  text-align: center;
}


/* --- New CSS --- */

.ingredient-form {
    width: 30rem;
    margin: 2rem auto;
    max-width: 80%;
  }
  
  .form-control label,
  .form-control input {
    display: block;
    width: 100%;
  }
  
  .form-control input {
    font: inherit;
    padding: 0.1rem 0.25rem;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1rem;
  }
  
  .form-control input:focus {
    outline: none;
    border-bottom-color: #ff2058;
  }
  
  .ingredient-form__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  